h3
  small 
    b #{count} 
    span results for 
    i #{query} 
    span in #{results.time.time}ms

nav
  .text-center
    ul.pagination.pagination-lg
      li.pagePrev
        a(href='#', aria-label='Previous')
          span(aria-hidden='true') «
      li.pageNext
        a(href='#', aria-label='Next')
          span(aria-hidden='true') »

.contents
  for result in results
    if result.url
      .content
        a.list-group-item(href='#{result.url}')
          if result.url.length < 100
            h4.text-primary= result.url
          else
            h4.text-primary= result.url.substr(1, 100) + '...'            
          p.list-group-item-text(url= result.url) ...
          //- p.small Rank: 
            //- b= result.rank